.phoneBook {
  border: transparent;
}
.title {
  color: black;
  font-size: -webkit-xxx-large;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: left;
}
.contactForm {
  display: flex;
  max-width: 250px;

  padding: 25px 5px;
  border: 1px solid black;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}

.contactFormlabel {
  display: block;
  font-size: 18px;
}
.contactFormInput {
  padding: 5px;
  width: 90%;
}

.contactFormBtn {
  margin-top: 20px;
  color: azure;
  background-color: blue;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error {
  color: red;
  font-size: 14px;
}
